@{
    ViewData["Title"] = "Index page";
}

<h1 style="margin-bottom: 8px">Welcome!</h1>

@if (User.Identity.IsAuthenticated)
{
    <a class="button button__link" asp-controller="Todo" asp-action="Index">Go to todos</a>
}
