.todo {
    padding: 20px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: help;
}

.todo__indent-bottom {
    margin-bottom: 8px;
}

.todo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #242e4c;
    text-decoration: none;
}

.todo__medium {
    background: #8e97fd;
    color: #ffffff;
}

.todo__high {
    background: #fa6e5a;
    color: #ffffff;
}

.todo__image {
    cursor: pointer;
}

.todo__progress {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__task-completed {
    background: none;
}

.todo__text-completed {
    color: #a2b6c2;
    text-decoration: line-through;
}

.todo__detail {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #242e4c;
}
